.filters{
    position: fixed;
    left: 250px; /*Espacio de la izquierda*/
    top: 60px; /*Espacio de arriba*/
    width: calc(100% - 250px);
    height: 60px;
    background: white;
    /* border-top: 1px solid #dbdbdb; */
    /* border-bottom: 1px solid #dbdbdb; */
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #141414;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: none;
    text-transform: capitalize;
    margin-right: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color: #353535;
    font-weight: bold;
}

.filter-options:hover{
        background: #4d4d4d;
        cursor: pointer;
        border-radius: 50px;
}

.filters::-webkit-scrollbar{
    height: 4px;
    background: gray;
}

.filters::-webkit-scrollbar-thumb:hover{
    background: red;
}

/* Responsive */
@media all and (max-width:900px){
    .filters{
        left: 170px;
        width: 100%;
    }
}