.App li {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.App ul {
    margin: 0;
    padding: 0;
}

.seccionVideo{
    width: 100%;
    height: 100%;
    background-color: #141414;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.3%;
}

.seccionVideo h2{
    color: white;
    font-size: 100%;
    margin: 0;
}

.seccionVideo h3{
    color: white;
    font-size: 80%;
    margin: 1px;
}

.informacionVideo {
    color: #b8b6b6;
    font-size: 70%;
    margin: 1px;
}

.seccionVideo ul {
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.seccionVideo li{
    height: 100%;
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 1px;
}

#pantalla1100 li{
    width: 24.5%;
}

#pantalla800 li{
    width: 33%;
}

#pantalla500 li{
    width: 49.5%;
}


.video {
    width: 100%;
    height: 100%;
    display: inline-block;    
}

.infoVideo {
    display: flex;
}

.cositas {
    width: 15%;
}

.infoVideo h3, p {
    margin-right: 10%;
    margin-left: 1px;
}

.imagevideo {
    width: 100%;
    height: auto;
}

.iconcanal {
    width: 100%;
    height: auto;
    margin-right: 1%;
    border-radius: 50%;
}
